<!DOCTYPE html>
<html lang="en" xmlns:th="www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header"/>


<body>

	<!-- Start Header Area -->
		<div th:replace="common/header :: navbar "/>
    <!-- End Header Area -->



	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>ABOUT US</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="login.html">About us </a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->



	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
		
		<h3>ABOUT US</h3>
		<p>
Started as a 3D Printing experiment on a hot summer day of 2019 in a tiny little room, Poster House is Headquartered at Akola, Maharashtra. We initiated our business with 3D printed personalized keychains and continuously expand in social expressions industry with our Personalized Gifting products, best quality wall decor products, Scale modeling and Art & Photography services. Till date we have more than 15 products and 5 specialized services, and the list is growing. By our First Anniversary we have grown 15 folds and have relocated to our new facility. We are proud to make in India and with our ethical business practices promise 100% quality in our offerings. Poster House has successfully met the gifting requirements of over 2000 customers within a year since its inception thus establishing ourselves as a reliable brand to buy personalized gifts from. 
</p>

<h3>WHY US?</h3>
<p>
Experiences are cherished if they are blissful, and have that 'wow' factor to them. Keeping this in mind we help create this experience when you choose our gift product for someone special, and that 'wow' moment for the receiver comes naturally when the gift is unboxed.
Every product we sell undergoes strong quality check procedures. We maintain reasonable pricing policy without compromising the quality. Our product range is modern and trendy. We keep our eyes and ears open to your recommendations and demands. We deliver our products all over India promptly and safely. We have No Cost Delivery policy for majority of our products. 
</p>

<h3>TEAM</h3>
<p>
We are a triad skilled in 3D Printing technology, CAD and Graphic Designing, Visual arts, Mechanical Engineering, Sustainable Development and Business Management. With a combined experience of over 40 years in various fields of work we strive to give social sentiments culture a big push. Our aim is to be a leader in social expressions industry with a global footprint. 
</p>
		
	
  </div>
  </section>
  
	<!-- start footer Area -->
			<div th:replace="common/header :: footer "/>

	<!-- End footer Area -->

<div th:replace="common/header :: body-bottom-scripts " />
</body>

</html>