<!DOCTYPE html>
<html lang="en" xmlns:th="www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header"/>


<body>

	<!-- Start Header Area -->
		<div th:replace="common/header :: navbar "/>
    <!-- End Header Area -->



	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Disclaimer</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="login.html">Disclaimer</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->



	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
	
	<h3>DISCLAIMER</h3>
<p>
Dear esteemed customer,
 We would like you to go through the disclaimer information carefully before placing your order with us.

GENERAL DISCLAIMER
Poster House retains the right to refuse any order unconditionally.
All claims are subject to the jurisdiction of Court at Akola, India, only.
</p>

<h3>DELIVERY DISCLAIMER</h3>
<p>
The requested delivery time is non-binding. Estimated delivery time depends on the production process of the product and the destination to which you want the product to be delivered.
We cannot commit the exact time for delivery. 
In case of business addresses, orders may be left at the reception.
Correct address and contact number of the recipient is a must for placing the order.
Subject to the other terms of the Delivery Disclaimer, the deliveries would be done between 10 a.m. to 6 p.m.
</p>
<p>
Delivery may take longer due to:
Bad weather, Political disruptions, Natural calamity, Other unforeseen circumstances. If such case may arise, we will proactively inform you.

Before major occasions, like Festivals, Days of Special Importance, etc, we suggest that you place your order at least five days in advance.

We will consider the order executed in the below cases:
Wrong shipping/delivery address.
Recipient not available.
Premises locked.
Recipient refusing to accept the delivery.
In case if the recipient is not available, he/she can inform the delivery person to deliver the order to the gate/reception/neighbour.

At the time of delivery, if there is no one available at the shipping address to accept the delivery of your order, the order will not be considered late. Hence in such cases, no refunds, cancellations, liability can be made. 
</p>

<h3>DELIVERY OF PRODUCTS BY COURIER</h3>
<p>
Notwithstanding anything contained in the Delivery Disclaimer or in the Terms and Conditions, in the event the order is made to deliver through any courier agency or any third party, Poster House does not make any representation or warranty in relation to the delivery of such order.
The products will be delivered through the courier company and the delivery made by them is subject to the Terms and Conditions of such courier company.
For products that are shipped using the services of our courier partners, the date of delivery is an estimate. Your order may be delivered prior or after the chosen date of delivery.

Our courier partners may or may not call prior to delivering an order, so we recommend that you provide an address at which someone will be present to receive the package. 
The delivery cannot be redirected to any other address.
No deliveries are made by third party courier agencies on a Sunday and Public Holidays.
All courier orders are carefully packed and shipped from our premises. 
You will receive a tracking number, soon after the order has been dispatched. Tracking number will help you trace your order.
Courier partners sometimes have some delays due to holidays, strikes and/or other unforeseen events.
In case delivery location is incorrect or the recipient refuses to take the delivery, the delivery shall be deemed to have been made. You shall still be charged for the order.

We will consider the order executed in the below cases:

Wrong shipping/delivery address.
Recipient not available.
Premises locked.
Recipient refusing to accept the delivery.
In case if the recipient is not available, he/she can inform the delivery person to deliver the order to the gate/reception/neighbour.

Subject to the other terms of the Delivery Disclaimer, the deliveries would be done between 10 a.m. to 5 p.m.

Delivery may take longer due to:
Bad weather, Political disruptions, Natural calamity, or Other unforeseen circumstances.
Before major occasions, we suggest that you place your order at least five days in advance.
We can't commit an exact time of delivery.
Correct address and contact number is a must of the recipient for placing the order.

No deliveries would be done on National Holidays. The delivery of the same would be done on the next working day. In case of floods/ heavy rains/ National Bandh/election dates/ curfews/ traffic jams/ festival times/regulated traffic movements or any other impediments that may restrict the delivery of the order, Poster House reserves the right to reschedule the delivery to another date.

The delivery of the products ordered will be attempted only once at the address as provided in the order received by Poster House. In the event the delivery is not executed due to any reason whatsoever not attributable to Poster House, the customer shall still be charged for the order and no redelivery or refund will be made by Poster House. 


</p>



<h3>DELIVERY TO HOSPITALS</h3>
<p>
When placing your order, please be sure to include:

Hospital name
Full address of the hospital
Telephone number of the recipient and hospital
The name of the recipient
Room number or ward of the recipient
We will send your order in accordance with facility procedures, as most hospitals do not allow delivery agents to personally deliver to individual rooms. Please check with the hospital before placing your order.

</p>

<h3>DELIVERY TO HOTELS</h3>
<p>
When placing your order, please be sure to include:

Hotel name
Full address of the hotel
Telephone number of the recipient and the hotel
The name of the recipient
Room number of the recipient
Name of Tour Company, if applicable
If the recipient has not checked in at the hotel on the delivery date, the order will be left at the reception and the order will be assumed as executed. If the person has checked out of the hotel by the delivery date, the order will be assumed as executed and no refund will be made in such cases.
</p>

<h3>DELIVERY TO HOSTELS/PG/ ENCLOSED PREMISES</h3>
<p>
When placing your order, please be sure to include:

Hostel/ Premises name
Full address of the hostel/premises
Telephone number of the recipient and the hostel/premises
The name of the recipient
Room number of the recipient
The recipient needs to either come to the gate of the premises to collect the delivery or send someone on his/her behalf after coordinating with the delivery person. The order can be handed over to security/any other responsible person or the order will be left at the reception and the order will be assumed as executed.
</p>

<h3>DELIVERY TO CINEMA HALLS, BUS STATIONS, RAILWAY STATIONS, METRO STATIONS AND AIRPORTS</h3>
<p>
We do not deliver to Cinema halls, Bus stations, Railway stations, Metro stations and Airports.
</p>
	
	
  </div>
  </section>
  
	<!-- start footer Area -->
			<div th:replace="common/header :: footer "/>

	<!-- End footer Area -->

<div th:replace="common/header :: body-bottom-scripts " />
</body>

</html>