<!DOCTYPE html>
<html lang="en" xmlns:th="www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header"/>


<body>

	<!-- Start Header Area -->
		<div th:replace="common/header :: navbar "/>
    <!-- End Header Area -->



	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>FAQ</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="login.html">Frequent Ask Questions</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->



	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
	
	<h3>FAQ</h3>
<p>	
Q1. What personalised gift items that  I can give to my loved ones?
</p>
<p>
There are plenty of choices for personalised gifts such as coffee mugs, personalised cushions, curtains, clocks, key chains, t-shirts, beer mugs, jewellery, lamps, wine glasses and many more. 
</p>
<p>	
Q3. What to write on personalised gifts? 
</p>
<p>

You can write a person's full name, his or her first name, surname, monogram or initials on personalised gifts. One can also provide his/her favorite quotation or personal messages on custom gifts.  One can also give a photograph to print on the product.
</p>
<p>		
Q4. Is there any shipping charges on personalised gifts product?
</p>
<p>
All the charges are included in the product price and there is no extra cost that you have to pay for personalised gifts products.
</p>
<p>		
Q5.Is Poster House safe to order personalised gifts in India?
</p>
<p>
Absolutely. It is a trusted brand. Poster House is a new brand in gifting industry. It is gaining popularity because of superior service, good quality of products, affordable prices and ethical & transparent practices Poster House follows. You can get all the information about Poster House by getting in touch with us over email or Whatsapp.
</p>
<p>		
Q6. Can I recommend a new product to Poster House?
</p>
<p>
Yes! We listen to our customers and strive to fulfill their requirements. If we find your gift product idea is of value, we will certainly try to bring it to life.
</p>	
<p>	
Q7. For what occasions will I find gifts on Poster House?
</p>
<p>
You will find gifts which can be personalized according to your requirement. We have gift products for every occasion be it Birthday, Anniversary, House warming, Inauguration, Wedding, Valentine's Day, Baby shower, Returning gifts for parties and weddings, gift for Her/Him for their special day, Special accomplishment gift, Competition prizes, Mother's Day, Father's Day, Diwali, Rakhi, Eid, Christmas, New Year's, Gift for Sister/Brother/Friends, Gift for Grandparents.
</p>	
<p>	
Q8. Where is my ordered product originated from?
</p>
<p>
We personally prepare, pack & ship your order from our HQ in Akola, Maharashtra. Our delivery partner will deliver your ordered products at the address you provide when placing your order.
</p>
<p>		
Q9. After placing order, when will my ordered product be delivered to me or on the given address?
</p>
<p>
We aim to fulfill orders on a daily basis, though our maximum processing time is 3-4 business days. Our transit time estimates are reliant on third party shipping  we cannot guarantee the time range yet. Delivery time could be anything between 7 to 12 working days.

</p>

<p>		
Q10. What is the best personalised gift idea?
</p>
<p>
It is always recommended to look for something that matches with the personality of the receiver. A personalized coffee mug for the dedicated coffee lover is just perfect or a personalized photo frame for the one who loves curating memories. Poster House has a wide range of products from which one can choose an apt gifting option for a loved one. 
</p>

<p>		
Q11. Why Should You Buy Personalised Gifts From Poster House?
</p>
<p>
 A wide range of products, hassle-free delivery, affordable prices, excellent customer service.
</p>
<p>	
Q12. Is there any discount and offers on Personalised gifts on Poster House?
</p>
<p>
We have promotions and offers that run time to time throughout the year on Poster House. They are announced on our website as well as on our Instagram Handle. So keep an eye on them!

	</p>
	
  </div>
  </section>
  
	<!-- start footer Area -->
			<div th:replace="common/header :: footer "/>

	<!-- End footer Area -->

<div th:replace="common/header :: body-bottom-scripts " />
</body>

</html>