<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>HTML email template</title>
    <meta name="viewport" content="width = 375, initial-scale = -1">
  </head>

  <body style="background-color: #ffffff; font-size: 16px;">
    <center>
    <h3>Hello <span th:text="${user.firstName}"></span></h3>
    <p>
    We recived a request to reset the password for your posterhouse account for this email address.
    here is your new Password.
    
    </p>
    <h3>Your New Password : <label th:text ="${password}"></label></h3>
    
    <br/>
<p>Best,</p>
<p>Posterhouse</p>
<p>call us:+919766054618</p>
    </center>
  </body>
</html>