<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>HTML email template</title>
    <meta name="viewport" content="width = 375, initial-scale = -1">
  </head>

  <body style="background-color: #ffffff; font-size: 16px;">
    <center>
     <table id="bookListTable" class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th><input th:id="selectAllBooks" type="checkbox" /></th>
						<th>Flight ID</th>
						<th>Flight Name</th>
 						<th>Departure Date</th>
						<th>Departure  Time</th>
						<th>Passenger Name</th>
						<th>Your Seat No </th>
						<th> From</th>
						<th>To</th>
						<th>Status</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="ticketInfo : ${finalTicket}">
						
						<td  th:text="${'#Atyeti'+ticketInfo.ticketId}" ></td>
						<td th:text="${ticketInfo.flightDetails.flight.airlineid}"></td>
						<td th:text="${ticketInfo.flightDetails.flight.airlineName}"></td>
					    <td  th:text="${ticketInfo.flightDetails.flightDepartureDate}"></td>
						
						<td th:text="${ticketInfo.flightDetails.flight.departureTime}" ></td>
						<td th:text="${ticketInfo.user.firstName}"></td>
						<td th:text="${ticketInfo.seatNo}"></td>
						<td th:text="${ticketInfo.flightDetails.flight.fromLocation}"></td>
						<td th:text="${ticketInfo.flightDetails.flight.toLocation}"></td>
						<td style="color: green;" ><Strong th:text="${ticketInfo.status}">></Strong></td>
						
						
					</tr>
				</tbody>
			</table>
    </center>
  </body>
</html>