<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>PosterHouse</title>
    <meta name="viewport" content="width = 375, initial-scale = -1">
  </head>

  <body style="background-color: #ffffff; font-size: 16px;">
    <center>
    <h3>Hello <span th:text="${firstName}"></span></h3>
    <p>Welcome to Posterhouse,</p>
    <p>
 We like to personally thank you for signing up to our service.
    </p>
    
    <br/>
<p>Best,</p>
<p>Posterhouse</p>
<p>call us:+919766054618</p>
    </center>
  </body>
</html>